<div *ngIf="!gameStart" class="container">

    <br><br>
    <button
            class="btn btn-primary center-block btn-lg btn-block"
            (click)="buttonClicked('addArtists') "
    >Add Artists
    </button>


    <br><br>
    <button
            class="btn btn-primary center-block btn-lg btn-block"
            (click)="buttonClicked('topPlayers') "
    >Top Players
    </button>


    <br><br>
    <button
            class="btn btn-primary  btn-lg btn-block center-block"
            (click)="buttonClicked('newGame') "

    >Let's Play
    </button>


</div>


<app-artist-list *ngIf="artistsList"></app-artist-list>
<app-game-round *ngIf="gameStart" (gameOverEvent)="gameOver($event)"></app-game-round>
<app-high-score *ngIf='highScoreTable' [gameResult]='highScore'></app-high-score>
